FLW_CLIENT_ID=
FLW_CLIENT_SECRET=
FLW_ENVIRONMENT=sandbox
FLW_TEST_COUNTRY=NG
FLW_TEST_CURRENCY=NGN
FLW_TEST_BANK_CODE=044
FLW_TEST_ACCOUNT_NUMBER=0690000031
FLW_TEST_AMOUNT=1000
FLW_TEST_WALLET_IDENTIFIER=
FLW_ENCRYPTION_KEY=
FLW_RUN_WRITE_TESTS=false
FLW_ALLOW_NON_SANDBOX=false